<div class="h-full flex flex-col">

  <p-table
    [value]="products"
    [scrollable]="true"
    [rows]=rows
    [paginator]="true"
    [rowsPerPageOptions]=rowsPerPageOptions
    [showCurrentPageReport]="true"
    [first]="first"
    [tableStyle]="{ 'min-width': '50rem' }"
    (onPage)="pageChange($event)"
    scrollHeight="flex"
    currentPageReportTemplate="Rekordy od {first} do {last} z {totalRecords}"
    stripedRows
    class="flex-1 flex flex-col overflow-hidden [&_.p-paginator]:justify-end!"
  >

    <ng-template pTemplate="header" >
      <tr>
        <th class="bg-surface-900 text-surface-50">Code</th>
        <th class="bg-surface-900 text-surface-50">Name</th>
        <th class="bg-surface-900 text-surface-50">Category</th>
        <th class="bg-surface-900 text-surface-50">Quantity</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-product>
      <tr>
        <td>{{ product.code }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.category }}</td>
        <td>{{ product.quantity }}</td>
      </tr>
    </ng-template>

  </p-table>

</div>
